# SALEEM SESSION 6 LISTS

Lists :
    mutable : add,update and delete

In [1]:
l=[10,20,30,40,"edyoda",12,34,[10,20,30,34]]
print(l[0])
print(l[-1])
print(l[3])
print(l[-5])
print(l[4])

10
[10, 20, 30, 34]
40
40
edyoda

In [ ]:
Lists :
    - mutable => add update delete
    - ordered => any datatype is ordered means it supports indexing and slicing
    - hetergenious => means do not have restriction that specify same type of data , it can add int str another list also
       [10,20,"Python",[100,200,300]]

In [8]:
l=[10,20,30,40,"edyoda",12,34,[10,20,30,34]]                #we can access in two ways either left ot right
print(l[7][3])                                          #indexing starts from 0 ,1,2.....positive
print(l[-1][-1])

34
34

In [16]:
l=[10,20,30,"edyoda",12,34,[10,20,30,34,45,["name",12,34,44,55,66,45]]] 
print(l)
print(l[6])
print(l[6][-1][-1])
print(l[-1][-1][-1])

[10, 20, 30, 'edyoda', 12, 34, [10, 20, 30, 34, 45, ['name', 12, 34, 44, 55, 66, 45]]]
[10, 20, 30, 34, 45, ['name', 12, 34, 44, 55, 66, 45]]
45
45

In [38]:
l=[10,20,30,40,50,[100,200,300,400,500,[111,222,333,444,555,666,777,888,999]]]
print(l[1:])
print(l[-1][-1][-1::-1])
print(l[-1][-1][0::1])
print(l[5][5][0::1])

[20, 30, 40, 50, [100, 200, 300, 400, 500, [111, 222, 333, 444, 555, 666, 777, 888, 999]]]
[999, 888, 777, 666, 555, 444, 333, 222, 111]
[111, 222, 333, 444, 555, 666, 777, 888, 999]
[111, 222, 333, 444, 555, 666, 777, 888, 999]

Add/Update/Delete

Add : 
    append # add only one element either within braces [" a","[s]""]
    
    extend #it will add multiple elments within end of list
    
    insert

In [43]:
l=["JAVA","R","PYTHON"]
l.append("c++")
l.extend("C")
print(l)
print(id(l))

['JAVA', 'R', 'PYTHON', 'c++', 'C']
1219794446024

In [44]:
l=["JAVA","PYTHON","R"]
l.append(["C","C++"])
print(l)
print(id(l))

['JAVA', 'PYTHON', 'R', ['C', 'C++']]
1219793024008

In [45]:
A=["JAVA","PYTHON","R"]
A1=("R","C","clour",".com")
A.extend(A1)
print(A)

['JAVA', 'PYTHON', 'R', 'R', 'C', 'clour', '.com']

In [47]:
S="python"
M=S.index("n")
print(M)

5

In [8]:
l = ["Python","c","Java"]
l.append("c++","r") #append does not allow multiple elements
print(l)

TypeError: append() takes exactly one argument (2 given)

In [9]:
l = ["Python","c","Java"]
l.append(["c++","R"])
print(l)

['Python', 'c', 'Java', ['c++', 'R']]

In [10]:
print(range('a','z')) # Range allows only integers not char

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
ord => gives the ascii values
chr => gives the char # Opposite of ord

In [11]:
print(ord('a'),ord('z'))
print(ord('A'),ord('Z'))

97 122
65 90

In [12]:
print(chr(97),chr(122))
print(chr(65),chr(90))

a z
A Z

In [7]:
a=[]
start ='A'
end = 'Z'
for value in range(ord(start),ord(end)+1) :
    print(value)
    print(chr(value))

65
A
66
B
67
C
68
D
69
E
70
F
71
G
72
H
73
I
74
J
75
K
76
L
77
M
78
N
79
O
80
P
81
Q
82
R
83
S
84
T
85
U
86
V
87
W
88
X
89
Y
90
Z

In [53]:
l1=[[1,2,3],[4,5,6],[7,8,9,0]]
l2 = [ ]
for value in l1 :
    l2.extend(value)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [54]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
l2 = [ ]
for value in l1 :
    l2.append(value)
print(l2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
l1=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
l2 = [[10,20,30],[40,50,60],[70,80,90],[100,110,120]]
l3 = [[111,222,333],[444,555,666],[777,888,999]]
l4 =[]
l5=[]
for value in l1 :
    l4.append(value)
for value in l2 :
    l4.append(value)
for value in l3 :
    l4.append(value)
for value in l4:
    l5.extend(value)
print(l5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 111, 222, 333, 444, 555, 666, 777, 888, 999]

In [60]:
s="sdgfhgrajferjfbrjzhfgrjfrjkfhjgbjhssssssssfgekrtrhjdfuwedhwejf"
print(s.count(s))
print(max(s))
print(min(s))

1
z
a

In [65]:
l = [1,2,3,4,5,6,7,8,9,]
l.insert(10,11)    #insert takes only two arguments not more thn 3
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [66]:
l = [100,200,300,400]
l[3] = 500              
print(l)

[100, 200, 300, 500]

In [70]:
l = [1,2,3,4,5,6]
r=l.pop(4) 
print(l)

[1, 2, 3, 4, 6]

In [68]:
l = [1,2,3,4,5,6]
l.remove(2)
print(l)

[1, 3, 4, 5, 6]

In [71]:
l = [1,2,3,4,5,6]
l.clear()
print(l)

[]

In [72]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

SORTING

In [73]:
S1 =[10,20,30,40,56,4,6,7,1,5,44,99,33,23]
S1.sort()
print(S1)

[1, 4, 5, 6, 7, 10, 20, 23, 30, 33, 40, 44, 56, 99]

In [75]:
S1 =[10,20,30,40,50,60,70,80]
S1.sort(reverse=True)
print(S1)

[80, 70, 60, 50, 40, 30, 20, 10]

index COUNTING

In [79]:
l =[10,20,30,40,50,60,70,40,40]
print(l.index(50))
print(l.count(40))

4
3

In [82]:
S1=[10,20,40,50,60]
S2 = [10,20,30]
S1.append(30)
print(S1)

[10, 20, 40, 50, 60, 30]

In [84]:
l1=[10,20,30]
l2=l1
print(id(l1),id(l2))
l1.append(40)
print(l1,l2)

1219794498056 1219794498056
[10, 20, 30, 40] [10, 20, 30, 40]

In [85]:
l1=[10,20,30,40,50,60,70,80,90]
l2 =[100,200,300,400]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400]

In [87]:
l1=[10,20,30,40,50,60,70,80,90]
l2 =[100,200,300,400]
l3 =[]
l1.extend(l2)
print(l1)
for value in l1 :
    if value not in l3 :
        l3.append(value)
print(l3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400]

In [ ]:
overview :

Methods for Add:
    append
    extend
    insert
    
Update :
    l[index = new_value]
    
Delete :
    pop => index , last element
    remove => value
    clear
    del