# SALEEM SESSION 2

PYTHON BASICS

                DATA TYPES
    IMMUTABLE                  MUTABLE
    STRING                     DICT
    NUMBER                     LISTS
    TUPLES                      SET
    
IMMUTABLE ONCE CREATED CANNOT BE MODIFIED

Mutable : Add , Update and Delete operations
    
Immutable : Can not perform add , update and delete

In [15]:
print("hello")

hello

In [2]:
#integer points
a=10
b=10
c=a+b
print(c)

20

A VARIABLE IS A LOCATION IN MEMORY USED TO SRORE SOME DATA/VALUE

In [5]:
#FLOOTING POINTS

s=100.123
m=111.234
print(s+m)

211.357

In [14]:
s="good morning Hassan"
print(s,type(s))

good morning Hassan <class 'str'>

In [40]:
#string data type
a="abcd"
print(a,type(a))

abcd <class 'str'>

In [10]:
#lists

length = [1,2,3,4,5,6,7,8,9,11,12]
print(length[1:11:1])
print(length[1:11:2])
print(length[1:11:3])

[2, 3, 4, 5, 6, 7, 8, 9, 11, 12]
[2, 4, 6, 8, 11]
[2, 5, 8, 12]

In [39]:
#list data type
l=[10,11,12,13,14,15,22,"edyoda",['1234']]
print(l,type(l))

[10, 11, 12, 13, 14, 15, 22, 'edyoda', ['1234']] <class 'list'>

In [31]:
#bool
s=111
m=222
c=333
d = s>m
e = s<m
f = m>c
print(d,e,f)

False True False

In [32]:
length = {"Name": "ABCDEF", "Email":"ABCDEF@gmail.com"}
print(length,type(length))

{'Name': 'ABCDEF', 'Email': 'ABCDEF@gmail.com'} <class 'dict'>

DICT IS AN UNORDERED COLLECTION OF KEY-VALUE PAIRS

In [6]:
#dictionary data type
d={"name":"sam","email":"sam@gmail.com","contact":1234567777}
print(d,type(d))
print(d['name'])
print(d['email'])
print(d['contact'])

{'name': 'sam', 'email': 'sam@gmail.com', 'contact': 1234567777} <class 'dict'>
sam
sam@gmail.com
1234567777

In [2]:
set = {1,2,3,4,5,6,7,8}
print(set,type(set))

{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'>

#OPERATORS OF PYTHON DJANGO
#Airthmetic operator
+ addition
- subtraction
* multipplication
/ True division
// floor division
** powers
% modulus

In [8]:
a=10
b=3
print(a+b)
print(a-b)
print(a/b)
print(a%b)
print(a*b)
print(a**b)
print(a//b)

13
7
3.3333333333333335
1
30
1000
3

In [35]:
d={1:110,"age":23,"name":"sam"}
print(1 not in d)
print(1 in d)
print("name" in d)

False
True
True

In [2]:
num1 = 10
print(num1,id(num1))

num1 = 20
print(num1,id(num1))

10 140720480162912
20 140720480163232

In [16]:
S1 = "python"
S2 = "python"
print(S1 == S2)
s1 = 10
s2 = 5
print(s1 > s2)
print(s1 < s2)
print(s1 >= s2)
print(s1 <= s2)

True
True
False
True
False

In [ ]:
immutable : cant change the value with different memory location
    int
    float
    tuple
mutable :
    list dict set

Logical Operator :

In [9]:
print(100 == 100 and 100 != 100)

False

In [10]:
print(100 != 100 and 100 == 100)

False

In [11]:
print(100 == 100 or 100 != 100)

True

In [ ]:
True/False :
    Comparsion
    Membership
    Logical
    Identity

In [ ]:
Overview

In [ ]:
type()
id()

In [12]:
num1 = 25
num2 = 25
print(id(num1))
print(id(num2))

140720480163392
140720480163392

In [13]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1))
print(id(l2))

2843194718856
2843193937224

In [ ]:
immutable : cant change the value with different memory location
    int
    float
    tuple
mutable :
    list dict set

In [ ]:
Iterable :
    str list dict set tuple
not iterable :
    int float

In [ ]:
in operator not work with int , float and works with dict only in terms of keys not values

In [ ]:
== checks the values
is checks the memory location